.menu-bar{
  text-align:center;
  margin-top:20px;
  margin-bottom:20px;
  font-weight:bolder;
  gap:15px;
  display:flex;
  justify-content: center;
}

a{
  text-decoration:none;
  color:navy;
  font-family: comic sans ms;
  font-size:50px;
}
