<div>
  <p>Nombre del Empleado: {{ nombre }}</p>
  <p>Edad: {{ edad() }}</p>
  @if (edad() >= 18) {
    <p>Es mayor de edad</p>
  } @else {
    <p>Es menor de edad</p>
  }
  <p>Email: {{ email() }}</p>
  <p>Sueldos: {{ sueldos()[1] | currency }}, {{sueldos()[2] | currency }}</p>
  <p>La suma de los sueldos es: {{ sumaSueldosComputed() | currency }}</p>

  <button (click)="test()">Test</button>

  <h2>Lista de articulos</h2>
  <table>
      <tr>
        <th>Código</th>
        <th>Descripción</th>
        <th>Precio</th>
      </tr>
      @for (articulo of articulos(); track articulo.codigo) {
        <tr>
          <td>{{ articulo.codigo }}</td>
          <td>{{ articulo.descripcion }}</td>
          <td>{{ articulo.precio | currency}}</td>
        </tr>
      }
  </table>
  <h2>Numero aleatorio entre 1 y 3</h2>
  <button (click)="actualizarNumeroAleatorio()">Generar número aleatorio</button>
   @switch (numeroAleatorio()) {
     @case (1) {
       <p>uno</p>
     }
     @case (2) {
       <p>dos</p>
     }
     @case(3) {
       <p>tres</p>
     }
   }

   <div>
    <p> Contador: {{ contador() }} </p>
    <button (click)="incrementar()"> Sumar 1</button>
    <button (click)="decrementar()"> Restar 1</button>
   </div>

   <h1>Binding</h1>
   <div>
    <input type="button" (click)="fijarNombre1()" value="Rene"/>
    <input type="button" (click)="fijarNombre2()" value="Shalking"/>
   </div>
   <!-- Binding: Se tienen que poner corchetes en lugar de llaves w, para los value w -->
   <input type="text" [value]="nombreSignal()"/>
</div>
<router-outlet />
